bs4==4.11.1
loguru==0.6.0
psutil==5.9.4
jupyterlab==3.5.0
jinja2==3.1.3
cssmin==0.2.0
nbformat==5.7.0
nbconvert==5.6.0
typogrify==2.0.7
markdown==3.3.4
markdown-captions
markdown-checklist
pelican==4.8.0
pelican-jupyter==0.10.1
pelican_youtube
pelican-sitemap
pelican-related_posts
pelican-neighbors
pelican-share_post
pelican-tag_cloud
pelican-render_math
pelican-i18n_subsites
minchin.pelican.plugins.post_stats
pelican-search
git+https://github.com/jerrylsu/autotools.git
git+https://github.com/getpelican/pelican-plugins/#egg=pelican-tipue-search&subdirectory=tipue_search


